extends base.pug

block scripts
    script(src="/static/courses.js") 

block style 
    style 
        include ../static/base.css
        include ../static/courses.css

block content 
    section#coursescse.coursesmain
        h1.heading Courses for CSE
        section.coursesarea
            div#course-1.course
                img(src='../static/images/course1.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsum debitis doloribus dolorum, labore et. Sapiente enim unde possimus aspernatur iste consequatur et excepturi quidem, ad molestiae autem maiores numquam temporibus inventore dolorum incidunt ex nostrum ullam sint!
            
            div#course-2.course
                img(src='../static/images/course2.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus nulla minima in magnam, rem laboriosam nam sed modi fugiat autem! Nostrum incidunt ipsam quisquam nesciunt, quae eius vero voluptate asperiores repudiandae aut id blanditiis pariatur quos non.

            div#course-3.course 
                img(src='../static/images/course3.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis repellendus suscipit consequatur quo, sed quas consectetur fugit asperiores impedit iusto soluta hic, tempore accusamus, architecto accusantium sit incidunt quidem temporibus pariatur. Inventore ducimus quidem saepe, excepturi iusto quam.

            div#course-4.course 
                img(src='../static/images/course4.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore ut harum omnis tenetur, aliquam dolores fugiat, cumque repellat corrupti excepturi laudantium facilis ducimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius rem sapiente fugit magnam quasi voluptatem molestiae?

            div#course-5.course 
                img(src='../static/images/course5.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iure unde reprehenderit neque. Totam debitis provident quasi deleniti, est laboriosam. Aut ab sunt laudantium neque sapiente excepturi aliquid, minus, cumque quidem facere perferendis et incidunt doloribus at dignissimos!

            div#course-6.course 
                img(src='../static/images/course6.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eos tenetur inventore veniam? Voluptatum pariatur voluptatibus quasi, adipisci odio qui nulla in et minus, corrupti iusto sint alias consequatur iste eius eaque autem laboriosam nisi officiis id illo!

    section#coursesimba.coursesmain
        h1.heading Courses for IMBA
        section.coursesarea 

            
            div#course-7.course
                img(src='../static/images/curse7.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus, delectus earum! Iure esse facere officia rerum perspiciatis velit ratione soluta inventore id repellendus aliquam eveniet nobis necessitatibus repudiandae, fuga, eos quam iste hic deserunt vel exercitationem. Atque, alias.
            
            div#course-8.course
                img(src='../static/images/course1.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugit dignissimos totam eius unde ipsa labore, numquam alias nam assumenda voluptates quae possimus ad sint quis cum. Nihil, enim nostrum? Veniam magni sit libero ipsa iste, cumque veritatis.

            div#course-9.course 
                img(src='../static/images/course2.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex autem veritatis suscipit facilis provident ullam totam magni officiis natus quod, omnis enim ipsum quam asperiores in nisi molestias repellendus! Iure, dolor vel saepe deleniti numquam voluptatibus earum neque.

            div#course-10.course 
                img(src='../static/images/course3.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quaerat dolorum, repellendus dolor reiciendis suscipit recusandae quod est voluptatem fuga explicabo quibusdam harum quos pariatur, cum sit itaque eos, sint qui praesentium! Dolorum dicta nesciunt quisquam provident obcaecati?

            div#course-11.course 
                img(src='../static/images/course4.jpg')
                h1 C++ Programming
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium vel iusto ducimus cupiditate! Beatae eos fugit sit ipsam quibusdam aut aperiam dignissimos ad? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quaerat dolorum, repellendus dolor reiciendis suscipit recusandae quod est voluptatem fuga explicabo quibusdam harum quos pariatur, cum sit itaque eos, sint qui praesentium! Dolorum dicta nesciunt quisquam provident obcaecati?

            
