extends base.pug

block scripts
    script(src="/static/home.js") 

block style 
    style 
        include ../static/base.css
        include ../static/home.css

block content 
    section#universityWelcome
        h1 Welcome to Vidya Sagar 
        h2 Welcome to your brighter future
    
    

